
.navbar-light {
	background: #2f2f2f !important;
}

.navbar-light .navbar-nav > .nav-item > .nav-link, .navbar-light .navbar-nav > .nav-item > .nav-link:focus, .navbar-light .navbar-nav > .nav-item > .nav-link:hover {
	color: #fff;
}

.navbar-light .navbar-nav > li.nav-item > a.active, .navbar-light .navbar-nav > li.nav-item > a.active:focus, .navbar-light .navbar-nav > li.nav-item > a.active:hover {
	color: #fff;
	text-decoration: underline;
}

.navbar-light .navbar-brand {
	color: #fff;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #fff;
}

.navbar-brand img {
  display: inline;
  padding-right: 10px;
}

.navbar-toggler {
	color: #fff !important;
}
